body {
  font-family: $font-family-base;
  // background: $white;
  font-size: 14px;
  line-height: 2;
  font-weight: 300;
  // color: $white;
}

.dark {
  background-color: $dark-blue-bg;
  color: $white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $white;
  }

  .card {
    background-color: $dark-blue;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 2;
  font-weight: 400;
  margin-bottom: 0;
}

.layout {
  margin-top: 2em;
  margin-bottom: 2em;
}

// .layout-section {
//   margin: 0 0.75rem;

//   @include media-breakpoint-up(md) {
//     margin: 0 2rem;
//   }

//   @include media-breakpoint-up(lg) {
//     margin: 0 3rem;
//   }

//   @include media-breakpoint-up(xxl) {
//     margin: 0 3.5rem;
//   }

//   @include media-breakpoint-up(ul) {
//     margin: 0 4.5rem;
//   }
// }
