body {
  font-family: $font-family-base;
  font-size: 14px;
  line-height: 2;
  font-weight: 300;
  overflow: auto !important;
}

.dark {
  background-color: $dark-blue-bg;
  color: $white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $white;
  }

  .card {
    background-color: $dark-blue;
  }

  .el-input .el-input__inner,
  .el-button,
  .el-select-dropdown,
  .el-select-dropdown__item {
    background-color: $dark-blue;
    border: none;
    color: $white;
  }

  .el-select-dropdown__item {
    &.selected {
      background-color: $dark-blue-bg;
    }
  }

  .el-popper .popper__arrow {
    border-bottom-color: $dark-blue;
  }

  .el-popper .popper__arrow::after {
    border-bottom-color: $dark-blue;
  }

  .el-loading-mask {
    background-color: rgba($dark-blue, 0.7);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 2;
  font-weight: 400;
  margin-bottom: 0;
}

.layout {
  margin-top: 2em;
  margin-bottom: 2em;
}
